Package: unity-lts
Version: VERSION
Architecture: amd64
Section: devel
Tag: ide, game, game-engine, 3d, 2d, mobile cross-platform
Maintainer: Peter Balling <peter.balling@gmail.com>
Description: Unity game engine - Latest stable version
 Unity is a cross-platform game engine developed by Unity Technologies.
 Unity gives users the ability to create games and experiences in both 2D and 3D,
 and offers a primary scripting API in C#, for both the Unity editor in the form of plugins,
 and games themselves, as well as drag and drop functionality.
